// Style description    : SASS Mixins
// Style author         : Paul Fitzgerald

///////////////////////////////////////////////////////////////////////////////////////////////////
// Media Queries
///////////////////////////////////////////////////////////////////////////////////////////////////

@mixin media($media, $feature, $breakingpoint) {
        @if $feature == max {
            @media #{$media} and (max-width: $breakingpoint) { @content; }
        }
        @else if $feature == min {
            @media #{$media} and (min-width: $breakingpoint) { @content; }
        }  
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Border Radius
///////////////////////////////////////////////////////////////////////////////////////////////////

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Opacity
///////////////////////////////////////////////////////////////////////////////////////////////////

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

