// Style description: Sass Variables

///////////////////////////////////////////////////////////////////////////////////////////////////
//PX option
///////////////////////////////////////////////////////////////////////////////////////////////////

$unit: px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Font settings
///////////////////////////////////////////////////////////////////////////////////////////////////


$baseline-px: 16;
$family-1: "Bariol", Helvetica, Arial, sans-serif;
$size-base: px($baseline-px);
$size-1: px(14);
$size-2: px(16);
$size-3: px(18);
$size-4: px(20);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Color settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$header-bg: #efeae2;
$color-dark: #000;
$color-light: #fff;
$color-gray: #eee;

