<div class="container">
    <div class="addressBook">
        
    <div class="addressBookHeader">
        <div class="row">
            <div class="col-md-12">
                <h3 class="addressBookHeading">Decide who to send your card to</h3>
                <p class="addressBookParagraph">Select who to send your card to</p>
                <a class="enterNewAddressBtn" ng-click="ctrl.open()">Enter new address</a>
            </div>
        </div>
    </div>  

        <div class="row">
            <div ng-repeat="contact in ctrl.addressBook track by $index"> 
                <div class="col-xs-6">
                    <div class="contactHolder">
                        <p class="contactName">{{contact.name}}</p>
                        <p class="contactAddress">{{contact.address}}</p>
                        <p class="contactTown">{{contact.town}}</p>
                        <p class="contactCountry">{{contact.country}}</p>
                        <button ng-click="ctrl.openEdit($index)" class="editContactBtn">Edit Contact</button>
                        <button ng-click="ctrl.deleteAddress($index)" class="deleteContactBtn">Delete Contact</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>